html {
  height: 100%;
}

body {
  min-height: 100%;
}

.logo {
  width: 32px;
  padding-right: 5px;
}

.full-height {
  height: 100vh;
}

.editable-label {
  border: none;
  background: transparent;
}
/*
 * Sidebar
 */

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #430070;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.toggle-sidebar-container {
  position: fixed;
  z-index: 99;
  bottom: 20px;
}

.toggle-sidebar-container button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.cursor-pointer {
  cursor: pointer;
}

.cluster-item {
  border-bottom: 2px rgba(0,0,0,.125) solid !important;
  background: #fafafa !important;
  font-weight: bold;
}

.feather {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    margin-top: -2px;
}

.empty-button {
    padding-top: 3px;
    margin-right: 0px;
}

.clickable {
  cursor: pointer;
}

.subtle {
  color: #8d8d8d;
  font-size: 11px;
}